@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --bg: #FFFFFF;
    --text: #000000;
    --border: #000000;
    --btn-home: #FFFFFF;
    --btn-home-border: #FFFFFF;
  }
  
*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    text-decoration: none;
}

h3{
    font-size: 85px;
    padding: 73px 100px;
    font-weight: 300;
}

h4{
    font-size: 45px;
    font-weight: 300;
    padding: 10px 0;
}

.cta-buy-large {
    border: 2px solid #000000;
    font-size: 51px;
    font-weight: 300;
    color: #000000;
    text-align: center;
    margin: 25px auto 0;
    padding: 0 10px;
    text-transform: uppercase;
    transition: 0.2s;
}

.cta-buy-large:hover{
    letter-spacing: .05em;
    transition: 0.2s;

}

.cta-buy-small{
    border: 1px solid #000000 ;
    font-size: 30px;
    font-weight: 300;
    color: #000000;
    text-align: center;
    margin: auto;
    padding: 0 10px;
    text-transform: uppercase; 
    transition: 0.2s;   
}

.cta-buy-small:hover{
    letter-spacing: .05em;
    transition: 0.2s;

}

.darkmode{
    font-size: 20px;
    text-align: center;
}
.navbar{
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.logo-footer{
    font-size: 55px;
    font-weight: 900;
}


.navbar ul{
    background-color: #ffffff;
    display: flex;
    grid-template-columns: repeat(6,2fr);
    border-bottom: 1px solid #000000;
}
.navbar ul li{
    display: flex;
    flex: 1 16.6%;
    font-size: 22px;
    font-weight: 200;
    padding: 7px 50px;
    transition: 0.2s;
    text-align: center;
    align-items: center;
}

.navbar ul li:first-child{
    border-right: 1px solid #000000;
    align-items: center;
    font-size: 30px;
    font-weight: 900;    
}


.navbar ul li:last-child{
    border-left: 1px solid #000000 ;
    font-size: 30px;
}

input[type='checkbox']{
    display: none;
}

.moon, .sun{
    transition: 0.5s;
    cursor: pointer;
    margin: auto;
}

.moon{
    display: block !important;
}
.moon:hover{
    rotate: 360deg;
    transition: 0.5s;
 }

.sun{
    display: none !important;
    color: #000000;
}
.sun:hover{
    rotate: 360deg;
    transition: 0.5s;
 }

#switch:checked ~ .moon{
    display: none !important;
  }

#switch:checked ~ .sun{
    display: block !important;
  } 

.navbar ul li a{
    color: #000000;
    text-align: center;
    margin: auto;
}

.navbar ul li:nth-child(2):hover{
    letter-spacing: .2em;
    transition: 0.2s;
}
.navbar ul li:nth-child(3):hover{
    letter-spacing: .2em;
    transition: 0.2s;
}
.navbar ul li:nth-child(4):hover{
    letter-spacing: .2em;
    transition: 0.2s;
}
.navbar ul li:nth-child(5):hover{
    letter-spacing: .2em;
    transition: 0.2s;
}


.slider-home{
    display: grid;
    padding-top: 250px;
    background: url('images/BG/bg-slider-home.jpg') no-repeat center top;
    background-size: cover;
    height: 2%;
}

.slider-home h1{

    text-align: center;
    font-size: 170px;
    color: #ffffff;
}

.slider-home h2{
    text-align: center;
    font-size: 51px;
    color: #ffffff;
    letter-spacing: .2em;
    margin-bottom: 1.5%;
}

.cta-home{
    font-size: 51px;
    color: #ffffff;
    border: 3px solid #ffffff;
    padding: 0 20px;
    margin: auto;
    text-align: center;
    text-transform: uppercase;
    transition: 0.2s;
}


.cta-home:hover{
    letter-spacing: .05em;
    transition: 0.2s;
}

.arrow{
    color: #ffffff;
    font-size: 50px;
    text-align: center;
    margin-top: 16.5%;
    
}

.block-double-right{
    display: flex;
    flex: 1 50%;
    flex-direction: row;
    border-top: 1px solid #000000;
    text-align: center;
}

.block-double-right div {
    font-weight: 200;
    padding-top: 200px;
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
    padding-bottom: 150px;
    flex: 1 1 0px;
    justify-content: center;
}

.block-double-right div p{
    font-size: 85px;
    margin-left: 100px;
    text-align: left;
    margin-bottom: 2%;

}


.block-double-right img{
    border-bottom: 1px solid #000000;
    flex: 1 1 0px;

}

.block-double-left{
    display: flex;
    flex: 1 50%;
    flex-direction: row;
    border-top: 1px solid #000000;
    text-align: center;
}

.block-double-left div{
    font-weight: 200;
    padding-top: 200px;
    border-left: 1px solid #000000;
    border-bottom: 1px solid #000000;
    padding-bottom: 150px;
    flex: 1 1 0px;
    justify-content: center;
}

.block-double-left div p{
    font-size: 85px;
    margin-left: 100px;
    text-align: left;
    margin-bottom: 2%;

}

.block-double-left img{
    border-bottom: 1px solid #000000;
    flex: 1 1 0px;
}

.block-simple{
    display: grid;
    padding: 55px 0;
}

.block-simple p{
    font-size: 55px;
    font-weight: 200;
    text-align: center;
}
.block-simple-div{
    display: flex;
}
.block-simple-div div{
    flex: 1 33%;
    text-align: center;
    margin: auto;
    font-weight: 200;
}

.block-simple-div div span{
    font-size: 35px;
}

.num{
    font-size: 75px;
}


.block-double-small{
    display: flex;
    flex: 1 50%;
    flex-direction: row;
    border-top: 1px solid #000000;
    text-align: center;
}

.block-double-small div{
    font-weight: 200;
    padding-top: 100px;
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
    padding-bottom: 48px;
    flex: 1 1 0px;
    justify-content: center;
}
.block-double-small img{
    border-right: 1px solid #ffffff;
}

.block-double-small div p{
    font-size: 85px;
    margin-left: 100px;
    text-align: left;
    margin-bottom: 2%;
}

.block-double-small img{
    border-bottom: 1px solid #000000;
    flex: 1 1 0px;
}

.block-pic{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background-color: red;
}

.pic{
    object-fit: cover;
    width: 100%;
}

.banner-animated{
    background-color: #000000;
    color: #ffffff;
    left:0px;
    overflow: hidden;
}

.cnnContents{
    width:100%;
    margin:0 auto;
    font-size: 85px;
    white-space: nowrap;
    text-transform: uppercase;
    font-weight: 500;
}

.marqueeStyle {
    display:inline-block;
    -webkit-animation: scrolling-left1 20s linear infinite;
    animation: scrolling-left1 20s linear infinite;
  }
  
.marqueeStyle2 {
    display:inline-block;
    -webkit-animation: scrolling-left2 20s linear infinite;
    animation: scrolling-left2 20s linear infinite;
    animation-delay: 10s;
  }

@keyframes scrolling-left1 {
      0% {transform: translateX(100%);
          -webkit-transform: translateX(100%);}
        100% {transform: translateX(-100%);
            -webkit-transform: translateX(-100%);}
  }

  @keyframes scrolling-left2 {
      0% {transform: translateX(0%);
          -webkit-transform: translateX(0%);}
        100% {transform: translateX(-200%);
            -webkit-transform: translateX(-200%);}
  }
  
@-webkit-keyframes scrolling-left1 {
      0% {-webkit-transform: translateX(100%);}
        100% {-webkit-transform: translateX(-100%);}
  }

  @-webkit-keyframes scrolling-left2 {
      0% {-webkit-transform: translateX(0%);}
        100% {-webkit-transform: translateX(-200%);}
  }

.third-grid{
    display: flex;
}


.third-grid div{
    flex: 1 50%;
    font-size: 40px;
    padding: 40px 0;
    font-weight: 300;
    border: 1px solid #000000;
    transition: 0.2s;
    cursor: pointer;
}

.third-grid div span{
    margin-left: 5%;
}
.third-grid div:hover{
    transition: 0.2s;
    letter-spacing: .1em;
}


.third-grid div img{
    display: flex;
    flex: 1 50%;
    padding: 80px 50px;
}

footer{
    display: flex;
}

.footer-1 {
    width: 31%;
    border-right: 1px solid #000000;
    padding: 1%;
}

.footer-1 p{
    font-size: 20px;
    font-weight: 200;
    margin: 10px 0;
}

.footer-1 ul{
    font-size: 20px;
    font-weight: 200;
    list-style-type: none;
}

.footer-1 ul li{
    transition: 0.5s;
}

.footer-1 ul li:hover{
    transition: 0.5s;
    letter-spacing: .05em;
}


.footer-2 {
    width: 31%;
    padding: 1%;
}

.footer-2 span{
    font-size: 20px;
    font-weight: 200;
}

.footer-2 a{
    font-size: 20px;
    color: #000000;
}

.txt-footer{
    font-weight: 200;
}

.newsletter{
    display: flex;
    height: 40px;
}

.newsletter :first-child{ 
    width: 453px;
    border: 1px solid #000000;
    border-radius: 0;
    font-size: 20px;
    font-weight: 200;

}

.newsletter :nth-child(2){
    width: 149px;
    text-transform: uppercase;
    border-radius: 0;
    background-color: #000000;
    color: #ffffff;
    font-size: 20px;
}

.social a{
    font-size: 30px;
    transition: 0.5s;
}

.social a:hover{
    color: #1a1a1a;
    transition: 0.5s;
    cursor: pointer;
}